@font-face {
  font-family: "PressStart2P-Regular";
  src: local("PressStart2P-Regular"),
    url("./fonts/PressStart2P-Regular.ttf") format("truetype");
  font-weight: 500;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #303030; */
  /* color: #ffffff; */

  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  letter-spacing: -0.001em;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.team1 {
  background-image: url("assets/baby_3.png")
}

.storyImage {
  margin-bottom: 1rem;
}

.randomImage {
  margin-bottom: 1rem;
}

.connectedLabel {
  color: greenyellow;
}

.connectedLabelDiv {
  background-color: rgba(172, 255, 47, 0.267);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 0.1rem;
  border-radius: 16px;
}


/* HEADER */
@media screen and (max-width: 768px) {
  .site-logo {
    width: auto;
    margin-bottom: 0;
    display: inline;
  }
  .site-logo img {
	  max-width: 170px;
  }
}
@media (min-width: 768px) {
  .site-logo img {
	  max-width: 240px;
  }
}
@media (min-width: 1010px) {
  .site-logo img {
	  max-width: 265px;
  }
}
.w-distribution-ends {
  padding: 0 !important;
}
/* STORY */

/* ROAD MAP */

.laHBbA {
  position: absolute;
  left: 25%;
  top: -60px;
}

data-styled.g133[id="tni8hs-0"] {
  content: "laHBbA,";
}

.jqJHUR {
  position: relative;
  padding: 8px;
}

data-styled.g134[id="tni8hs-1"] {
  content: "jqJHUR,";
}

h3 {
  text-align: center;
  margin: 6vw 0 2vw;
}

#team p {
  text-align: center;
}

@media screen and (max-width: 768px) {
  #buy {
    display: none;
  }
}

/*-- New CSS --*/

.road-content{
  height: 210px;
  border-left: 2px solid hsla(0,0%,100%,.3);
  position: relative;
  margin-bottom: 60px;
}

.road-content .red-process20 {
  position: absolute;
  z-index: 6;
  left: -1px;
  top: 0;
  background-color: #ffba00;
  width: 2px;
  height: 20%;
}

.road-content .red-process40 {
  position: absolute;
  z-index: 6;
  left: -1px;
  top: 0;
  background-color: #ffba00;
  width: 2px;
  height: 40%;
}

.road-content .red-process50 {
  position: absolute;
  z-index: 6;
  left: -1px;
  top: 0;
  background-color: #ffba00;
  width: 2px;
  height: 50%;
}

.road-content .red-process60 {
  position: absolute;
  z-index: 6;
  left: -1px;
  top: 0;
  background-color: #ffba00;
  width: 2px;
  height: 60%;
}

.road-content .red-process70 {
  position: absolute;
  z-index: 6;
  left: -1px;
  top: 0;
  background-color: #ffba00;
  width: 2px;
  height: 70%;
}

.road-content .red-process80 {
  position: absolute;
  z-index: 6;
  left: -1px;
  top: 0;
  background-color: #ffba00;
  width: 2px;
  height: 80%;
}

.road-content .red-process100 {
  position: absolute;
  z-index: 6;
  left: -1px;
  top: 0;
  background-color: #ffba00;
  width: 2px;
  height: 100%;
}

.road-content .road-detail {
  padding-left: 35px;
}

.road-content h2 {
  height: 50px;
  font-size: 44px;
  color: #fff;
  font-weight: 500;
  margin: 0 0 18px;
}

.road-content h3 {
  height: 40px;
  font-size: 28px;
  color: #fff;
  font-weight: 500;
  margin: 0 0 10px;
  text-align: left;
}

.road-content p {
  font-size: 16px;
  margin-top: 0;
  text-align: left;
  color: hsla(0,0%,100%,.7);
}

.roadmap-headline{
  margin-bottom: 70px;
}

.moto-img {
	width: 100%;
	-webkit-animation: moto2 4s infinite;
	animation: moto2 4s infinite;
}

.img-edge-cover {
	width: 35%;
	margin-left: 10%;
	position: relative;
	overflow: hidden;
	margin-top: 80px;
	display: inline-block;
}

.img-edge-cover-wrapper{
	text-align: center;
}

@media(max-width:1000px) {
	.img-edge-cover {
		width: 45%;
		/* height: 240px; */
		margin-left: 0;
		margin-top: 45px!important;
	}
}

@media (max-width: 520px) {
	.img-edge-cover {
		width: 45%;
		/* height: 240px; */
		margin-left: 0;
		margin-top: 100px!important;
	}
}

@media (max-width: 460px) {
	.img-edge-cover {
		width: 45%;
		margin-left: 0;
		margin-top: 150px!important;
	}
}

@media (max-width: 395px) {
	.img-edge-cover {
		width: 45%;
		margin-left: 0;
		margin-top: 230px!important;
	}
}

@media (max-width: 350px) {
	.img-edge-cover {
		width: 45%;
		margin-left: 0;
		margin-top: 318px!important;
	}
}

.img-edge-cover:hover img {
	-webkit-animation: moto .2s;
	animation: moto .2s
}

.img-edge-cover:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/* box-shadow: inset 0 0 50px 40px #000 */
}

@-webkit-keyframes moto2 {
	0% {
		width: 100%
	}
	15% {
		width: calc(100% + 20px);
		margin-left: -5px
	}
	25% {
		width: calc(100% + 20px);
		margin-left: 0
	}
	30% {
		margin-left: 10px
	}
	35% {
		margin-left: 0
	}
	50% {
		width: calc(100% - 10px);
		margin-left: 5px
	}
	75% {
		width: calc(100% + 10px);
		margin-left: -5px
	}
	to {
		width: 100%
	}
}

@keyframes moto2 {
	0% {
		width: 100%
	}
	15% {
		width: calc(100% + 20px);
		margin-left: -5px
	}
	25% {
		width: calc(100% + 20px);
		margin-left: 0
	}
	30% {
		margin-left: 10px
	}
	35% {
		margin-left: 0
	}
	50% {
		width: calc(100% - 10px);
		margin-left: 5px
	}
	75% {
		width: calc(100% + 10px);
		margin-left: -5px
	}
	to {
		width: 100%
	}
}

@-webkit-keyframes moto {
	0% {
		margin-top: 5px
	}
	50% {
		margin-top: -5px
	}
	to {
		margin-top: 5px
	}
}

@keyframes moto {
	0% {
		margin-top: 5px
	}
	50% {
		margin-top: -5px
	}
	to {
		margin-top: 5px
	}
}

@media (max-width: 991.98px) {
  .road-content{
    margin-bottom: 30px;
  }
}

.road-content h4{
	font-weight: 500!important;
}

.road-content h6{
	font-weight: 500!important;
	font-size: 22px!important;
}
section#roadmap .container{

}

@media (min-width: 1500px) {
	section#roadmap .container{
		width: inherit;
	}
}

@media (min-width: 1400px) {
	section#roadmap .container{
		width: inherit;
	}
}

@media (min-width: 1300px) {
	section#roadmap .container{
		width: inherit;
	}
}

@media (min-width: 1200px){
	section#roadmap .container {
		width: 1140px!important;
	}
}
